@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

    --font-sans: 'Outfit', sans-serif;

    --swiper-theme-color: var(--color-torchbox);
    --swiper-navigation-color: var(--color-torchbox);
    --swiper-pagination-fraction-color: inherit;
    --swiper-pagination-progressbar-bg-color: rgba(0,0,0,0.25);
    --swiper-pagination-progressbar-size: 4px;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-width: 6px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-border-radius: 50%;
    --swiper-pagination-bullet-inactive-color: var(--color-white);
    --swiper-pagination-bullet-inactive-opacity: 0.4;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 3px;
    --swiper-pagination-bullet-vertical-gap: 5px;
}

@theme inline {
    --font-sans: var(--font-sans);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    /* Add any tailwind colours here like --color-primary: #ff0000 */
    --color-navy: #002147;
    --color-sky: #C1D9FA;
    --color-aqua: #A5E8E9;
    --color-cornflower: #77ABF3;
    --color-cream: #FFEFA9;
    --color-blush: #FCD0DA;
    --color-sage: #DDE6E5;
    --color-violet: #9373FF;
    --color-torchbox: #ee5276;

    --text-50: 3.12rem; /* 50px */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Outfit', sans-serif;
}

.container {
    @apply mx-auto px-5 md:px-10 lg:px-15;
}


.desktop-scroll {
    height: 100vh;
    background: #07060a;
}

.desktop-slide {
    /* allow slide to size to its content (the image) */
    flex: 0 0 auto;
    /* remove fixed widths so images determine width */
    position: relative;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ensure images keep their aspect ratio, match container height, and don't stretch */
.desktop-slide img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
}