@import "tailwindcss";

.container {
    @apply mx-auto px-5 md:px-10 lg:px-15;
}


/* Theme color variables: renamed brand-* to semantic names, plus aliases for backward compatibility */
@theme {
    --font-display: 'Outfit', sans-serif;

    /* Add any tailwind colours here like --color-primary: #ff0000 */
    --color-navy: #002147;
    --color-sky: #C1D9FA;
    --color-aqua: #A5E8E9;
    --color-cornflower: #77ABF3;
    --color-cream: #FFEFA9;
    --color-blush: #FCD0DA;
    --color-sage: #DDE6E5;
    --color-violet: #9373FF;
    --color-torchbox: #ee5276;

    --text-50: 3.12rem; /* 50px */
}